* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* limitar height e width*/
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    margin: 0; /*padding 0 inicialmente */
    background-color: #ededed; 
}

.header {
    width: 100%;
    padding-bottom: 80px; /*empurra a imagem do container pra baixo*/
}

nav {
    border-bottom: solid #ff6417 1px;
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 20px 8%; /*superior-inferior*/ /*direito-esquerdo*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    z-index: 999;
}

nav .logo {
    width: 80px;
}

nav ul li {
    display: inline-block; /*transforma as palavras que estavam em coluna pra linha*/
    margin-left: 40px; /* da espaçamento entre as palavras*/
}

nav ul li a {
    text-decoration: none;
    color: #ff6417;
    font-size: 17px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.5s; /*na hora de voltar do hover*/
}

nav ul li a:hover { /*muda quando o cursor do mouse é colocado em cima*/
    padding: 5px; /*se desloca levemente*/
    border-radius: 30px;
    background-color: whitesmoke;
    transition: 0.5s; /*na hora de ir pro hover*/
    color: black;
}

.container .logo-preto-home {
    width: 65%;
    display: flex;
    align-self: flex-end;
    margin-left: auto; /*garantir que a imagem fica a direita*/
    
}

.container .logo-laranja-home {
    position: absolute;
    top: 400px;
    left: 100px;
}

.container .paragrafo-grande-home {
    text-decoration: none;
    color: #ff6417;
    font-size: 280px;
    font-weight: 900;
    position: absolute;
    top: 330px;
    left: 380px;
}

.container .paragrafo-pequeno-home {
    text-decoration: none;
    color: #ff6417;
    font-size: 70px;
    font-weight: 600;
    position: absolute;
    line-height: 1.15;
    letter-spacing: 5px;
    top: 720px;
    left: 130px;
}


/* sobre */
.sobre-beatbox {
    background-color: #ff6417;
    transform: translateY(-90px);
    width: 100%;
    height: 550px; 
    
}

.sobre-beatbox .container {
    display: flex;
    margin: auto;
    padding: 6% 250px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}

.sobre-beatbox .container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 60px;
    color: white;
}

.sobre-beatbox .container img {
    width: 15%;
    margin: auto;
}

.info {
    width: 100%;
    /* border: solid purple 3px; */
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    color: white;
}

/*4 sons*/
.sons .container {
    /* border: solid yellow 3px;  */
    display: flex;
    background-color: #ff6417;
    height: 250px;
    transform: translateY(-90px);
}

.sons .container .texto {
    /*  border: solid orange 3px;  */
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1%;
}

.sons .container .texto h3 {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    color: white;
}

.sons .container .texto p {
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    color: white;
}

/* GBB */
.gbb {
    /*  border: solid skyblue 3px;  */
    background-color: #071425;
    transform: translateY(-90px);
    display: flex;
    width: 100%;
    margin: auto;
    padding: 3%;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.gbb .texto2{
    /* border: solid red 3px; */
    justify-content: center;
    margin-bottom: 4%;
}

.gbb .texto2 h1{
    text-align: center;
    font-weight: 500px;
    font-size: 60px;
    color: #ff6417;
}
.gbb .titulo {
    border-bottom: 4px solid #ff6417; /* Espessura e cor da linha */
    display: inline-block; /* Faz a barra se ajustar ao texto */
    padding-bottom: 0px; /* Espaçamento entre o texto e a linha */
}


.gbb .texto2 p{
    text-align: center;
    font-weight: 500px;
    font-size: 17px;
    color: white;
    padding-top: 40px;
}

.gbb .blocos{
    /* border: solid yellow 3px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gbb .blocos .missao{
    /* border: solid orange 3px; */
    width: 20%;
    margin: 1%;
}

.gbb .blocos .missao h1{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    color: white;
    margin-top: 25%;
    width: 110%;
}

.gbb .blocos .missao .firstperson{
    /* border: solid yellow 3px; */
    width: 55%;
}

.gbb .blocos .missao .secondperson{
    /* border: solid yellow 3px; */
    width: 100%;
}

.gbb .blocos .missao .thirdperson{
    /* border: solid yellow 3px; */
    width: 55%;
}

.gbb .blocos .missao p{
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    color: white;
}

.gbb .blocos video{
    /* border:solid gainsboro 3px; */
    box-shadow: 2px 2px 1px #000000;
    -webkit-box-shadow: -5px -10px 30px rgb(0, 46, 98), 6px 9px 15px rgb(0, 7, 100);
    -moz-box-shadow: -5px -10px 30px rgb(0, 46, 98), 6px 9px 15px rgb(0, 7, 100);
    width: 50%;
    margin: auto;
    margin-left: 2%;
    cursor: pointer;
    transition: 1s;
}

.gbb .blocos video:hover{
    /* border:solid gainsboro 3px; */
    box-shadow: 2px 2px 1px #000;
    -webkit-box-shadow: -5px -10px 30px rgb(0, 46, 98), 6px 9px 15px rgb(0, 7, 100);
    -moz-box-shadow: -5px -10px 30px rgb(0, 46, 98), 6px 9px 15px rgb(0, 7, 100);
    width: 50%;
    margin: auto;
    margin-left: 2%;
    -webkit-filter: drop-shadow(20px 20px 50px rgba(0, 7, 100, 0.826));
    filter: drop-shadow(20px 20px 50px rgb(0, 7, 100, 0.826));
}

/*videos*/
.texto-video {
    height: 230px; 
    display: flex;
    text-align: center; 
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.texto-video p{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 17px;
    color: white;
    width: 100%;
    margin: 1%;
}
.texto-video h1{
    font-weight: 800;
    font-size:60px;
    color: white;
    width: 100%;
}

.video-title {
    font-size: 38px;
    font-weight: bold;
    color: #ff6417; /* Cor laranja */
    text-align: center;
    margin-bottom: 10px; /* Espaço entre o título e a imagem do vídeo */
} 

.video-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 20.1); /* Sombra suave */
}

.video-wrapper {
     border:solid gainsboro 3px; 
    position: relative;
    width: 23%; /* Ajuste conforme necessário para o espaçamento e o tamanho dos vídeos */
    border-radius: 8px;
    overflow: hidden; /* Garante que os vídeos não ultrapassem as bordas arredondadas */
    transition: transform 0.3s ease; /* Transição suave */
}

.video-wrapper:hover {
    transform: translateY(-5px); /* Efeito de levantamento ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /*adiciona sombreamento quando tu passa o mouse em cima*/
}

.video-wrapper .imagem {
    width: 100%;
    border-radius: 8px; /* Bordas arredondadas para a imagem */
}

.video-wrapper .video {
    display: none;
    width: 100%;
    border-radius: 8px; /* Bordas arredondadas para o vídeo */
}

.video-wrapper:hover .video {
    display: block; /* Exibe o vídeo ao passar o mouse */
}

/*jornada*/

.chamar{
    background-color: #ff6417;
    transform: translateY(-120px);
}

.chamar .container{
    flex-direction: column;
    margin: auto;
    padding: 100px;
    /* border: solid yellow 3px; */
    display: flex;
}

.chamar .container h1{
    /* border: solid red 3px; */
    text-align: center;
    color: white;
    font-size: 54px;
}

.chamar .container .blocos{
    display: flex;
    /* border: solid black 3px; */
    margin-top: 5%;
    width: 100%;
    align-items: center;
}


.chamar .container .blocos .atencao h2{
    text-align: center;
    justify-content: center;
    margin-bottom: 10%;
    font-weight: 500px;
    font-size: 25px;
    color: white;
}

.chamar .container .blocos .atencao h3{
    text-align: center;
    justify-content: center;
    font-weight: 500px;
    font-size: 20px;
    color: white;

}

.chamar .container .blocos .atencao h3 span{
    font-weight: 500px;
    font-size: 25px;
    color: #071425;
}

.chamar .container .blocos .atencao button {
    margin-top: 5%;
    padding: 15px 30px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.chamar .container .blocos .atencao button:hover {
    background-color: #ffe9d4;
}

.chamar .container .blocos .atencao p{
    font-weight: 500px;
    font-size: 20px;
    color: white;
}

.chamar .container .blocos img.dlow{
    display: flex;
    /* border: solid aqua 3px; */
    width: 30%;
    margin: auto;
    margin-left: 10%;
    box-shadow: 2px 2px 1px black;
    -webkit-box-shadow: -5px -10px 30px rgb(0, 46, 98), 6px 9px 15px rgb(0, 7, 100);
    -moz-box-shadow: -5px -10px 30px rgb(0, 46, 98), 6px 9px 15px rgb(0, 7, 100);
    margin-bottom: 10%;
    transition: 1s;
}

.chamar .container .blocos img.dlow:hover{
    display: flex;
    /* border: solid aqua 3px; */
    width: 30%;
    margin: auto;
    margin-left: 10%;
    box-shadow: 2px 2px 1px black;
    -webkit-box-shadow: -5px -10px 30px rgb(0, 46, 98), 6px 9px 15px rgb(0, 7, 100);
    -moz-box-shadow: -5px -10px 30px rgb(0, 46, 98), 6px 9px 15px rgb(0, 7, 100);
    margin-bottom: 10%;
    -webkit-filter: drop-shadow(20px 20px 5px rgb(0, 7, 100));
    filter: drop-shadow(20px 20px 5px rgb(0, 7, 100));
}

 



















.footer {
    display: flex;
    background-color: #ff6417;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer img.esports{
    /* border: solid yellow 3px; */
    margin: auto;
    width: 30%;
    
}

.footer .footer-container{
    flex-direction: column;
    display: flex;
}

.footer .footer-container .footer-boxes{
    /* border: solid black 3px; */
    display: flex;
    justify-content: space-around;
}

.footer .footer-container .footer-boxes .footer-box img.riot{
    align-items: center;
    justify-content: center;
    margin: auto;
    /* border: solid yellow 3px; */
    margin: auto;
    width: 50%;
    display: flex;
    
}

.footer .footer-container .footer-boxes .footer-box{
    width: 30%;
    justify-content: space-around;
    /* border:solid white 3px; */
    align-items: center;

}

.footer .footer-container .footer-boxes .footer-box h1{

    /* border: solid red 3px; */
    text-align: center;
    color: white;
}

.footer .footer-container .footer-boxes .footer-box p{
    text-align: center;
    font-weight: 500px;
    font-size: 17px;
    color: white;
}

.footer p{
    text-align: center;
    font-weight: 500px;
    font-size: 17px;
    color: white;
}

.footer p a{
    text-decoration:none;
    color: white;
}


 






/* Estilos para telas menores */
@media screen and (max-width: 767px) {
    /* Ajuste o tamanho do logo */
    nav .logo {
        width: 80px;
    }

    /* Ajuste o espaçamento entre os itens do menu */
    nav ul li {
        margin-left: 10px;
    }

    /* Ajuste o tamanho da imagem e do texto na seção "Sobre Beatbox" */
    .sobre-beatbox .container img {
        width: 50%;
    }

    .sobre-beatbox .container .info {
        font-size: 15px;
    }

    /* Ajuste o tamanho do texto e das imagens nos blocos da seção "GBB" */
    .gbb .blocos .missao h1 {
        font-size: 15px;
    }

    .gbb .blocos .missao p {
        font-size: 12px;
    }

    .gbb .blocos .missao .firstperson,
    .gbb .blocos .missao .secondperson,
    .gbb .blocos .missao .thirdperson {
        width: 100%;
    }

    /* Ajuste o tamanho do vídeo */
    .gbb .blocos video {
        width: 100%;
    }
}




























